@import '/src/assets/styles/vars';

.deactivate-text {
  text-align: center;
  color: $c-gray-light;
  font-size: 2rem;
  bottom: 0px;
  line-height: 1;
  font-family: $f-primary;
}

.deactivate-text p {
  margin: 25%;
}

.mat-spinner-color::ng-deep circle {
  stroke: $c-orange !important;
}

@media(max-width: 768px) {
  mat-label {
    font-size: 15px;
  }

  .m-10-mobile {
    margin-top: 10% !important;
  }
}

@media(max-width: 568px) {
  .m-10-mobile {
    margin-top: 10% !important;
  }
}
