// Colores
$c-white: #FFFFFF;
$c-black: #000000;
$c-orange: #F17921;
$c-navbar: #242021;
$c-brown: #69462C;
$c-aqua: #2E9B8E;
$c-gray-light: #808080;

// Imágenes
$i-back-img-white: url('/assets/images/fondo-ligh.png');
$i-back-img-black: url('/assets/images/fondo.png');
$i-m-back-img-white: url('/assets/images/fondo-ligh.png');
$i-m-back-img-black: url('/assets/images/fondo.png');

// Fuentes
$f-primary: 'Montserrat-regular';
$f-secundary: 'Montserrat-semiBold';
