@import '/src/assets/styles/vars';

html, body {
  height: 101vh;
  overflow: hidden;
}

body {
  margin: 0;
  background-color: $c-navbar;
}

body .sidenav-menu button:focus {
  background: #0000003d;
}

h1, h2, h3, th, p.text {
  font-family: $f-secundary !important;
}

body, h4, h5, h6, a, p, button, .mat-table {
  font-family: $f-primary !important;
}

td, th {
  width: auto !important;
}

body .mat-drawer-container {
  background: transparent;
}

body.mat-typography mat-toolbar {
  background: $c-navbar;
  color: $c-white;
}

body .mat-drawer-container {
  background: transparent;
}

body.mat-typography mat-toolbar {
  background: $c-navbar;
  color: $c-white;
}

body button:focus {
  outline: none;
}

.landscape {
  display: none !important;
}
h5.title{
  font-size: 16px !important;
}

// Hide Scrolling bar
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}
